html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the height covers the full viewport */
}

/* Start Location Theme */
.start-container {
  /* background: #322e27;
  background: radial-gradient(circle, black, #322e27); */
  background-image: url('./assets/heaven.gif');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffedc9;
}
.start-h1 {
  font-family: 'Jersey 15', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
.start-p {
  font-family: 'Jersey 15', sans-serif;
  font-size: 1.5rem;
  border: 2px solid #ffedc9;
  border-radius: 0.5rem;
  padding: 1rem 1.25rem;
}
.start-choiceButton {
  background-color: #171513;
  color: #ffedc9;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-family: 'Jersey 15', sans-serif;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  max-width: 80%;
  text-align: center;
}
.start-choiceButton:hover {
  border-color: #ffdc98;
  color: #ffedc9;
}

/* Forest Theme */
.forest-container {
  /* background: #7caf86;
  background: radial-gradient(circle, #feffe3, #7caf86); */
  background-image: url('./assets/flare.gif');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #feffe3;
}
.forest-h1 {
  font-family: 'DM Serif Text', serif;
  font-size: 4rem;
  font-weight: bold;
  color: #44724d;
}
.forest-p {
  font-family: 'DM Serif Text', serif;
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 1rem 1.25rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: #44724d;
}
.forest-choiceButton {
  background-color: #44724d;
  min-width: 200px;
  color: #feffe3;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-family: 'DM Serif Text', serif;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  max-width: 80%;
  text-align: center;
}
.forest-choiceButton:hover {
  background-color: #44724d;
  border-color: #fbfbfb;
  color: #fbfbfb;
}

/* Cave Theme */

.cave-container {
  /* background: #322e27;
  background: radial-gradient(circle, black, #322e27); */
  background-image: url('./assets/blackglow.gif');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffedc9;
}
.cave-h1 {
  font-family: 'Jersey 15', sans-serif;
  font-size: 4rem;
  font-weight: bold;
}
.cave-p {
  font-family: 'Jersey 15', sans-serif;
  font-size: 1.5rem;
  border: 2px solid #ffedc9;
  border-radius: 1rem;
  padding: 1rem 1.25rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.cave-choiceButton {
  background-color: #171513;
  color: #ffedc9;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-family: 'Jersey 15', sans-serif;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  max-width: 80%;
  text-align: center;
}
.cave-choiceButton:hover {
  background-color: #171513;
  border-color: #ffdc98;
  color: #ffedc9;
}

/* Heavenly Location Theme */
.heavenly-container {
  /* background: #322e27;
  background: radial-gradient(circle, rgb(255, 217, 136), #fcfcfc); */
  background-image: url('./assets/heaven.gif');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffedc9;
}
.heavenly-h1 {
  font-family: 'Jersey 15', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: #e7a711;
}
.heavenly-p {
  background-color: #fffefe;
  color: #484131;
  font-family: 'Jersey 15', sans-serif;
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 1rem 1.25rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.heavenly-choiceButton {
  background-color: #fcfcfc;
  color: #484131;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-family: 'Jersey 15', sans-serif;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  max-width: 80%;
  text-align: center;
}
.heavenly-choiceButton:hover {
  background-color: #fcfcfc;
  border-color: #cb87dc;
  color: #484131;
}
