html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Start Location Theme */
.start-container {
  background-image: url('./assets/start.gif');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffedc9;
}
.start-h1 {
  font-family: 'Jersey 15', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: #171513;
}
.start-p {
  font-family: 'Jersey 15', sans-serif;
  font-size: 1.5rem;
  border: 2px solid #ffedc9;
  border-radius: 0.5rem;
  padding: 1rem 1.25rem;
  background-color: rgba(23, 21, 19, 0.5);
  max-width: 90%;
}
.start-choiceButton {
  background-color: rgba(23, 21, 19, 0.5);
  color: #ffedc9;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-family: 'Jersey 15', sans-serif;
  font-size: 1.25rem;
  max-width: 45%;
  min-width: fit-content;
  text-align: center;
  white-space: nowrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.start-choiceButton:hover {
  border-color: #ffdc98;
  color: #ffedc9;
}

/* Forest Theme */
.forest-container {
  background-image: url('./assets/flare.gif');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #feffe3;
}
.forest-h1 {
  font-family: 'Jersey 15', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: #44724d;
}
.forest-p {
  font-family: 'Jersey 15', sans-serif;
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 1rem 1.25rem;
  background-color: rgba(68, 114, 77, 0.4);
  margin-left: 2rem;
  margin-right: 2rem;
  max-width: 90%;
}
.forest-choiceButton {
  background-color: rgba(68, 114, 77, 0.4);
  min-width: 200px;
  color: #feffe3;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-family: 'Jersey 15', sans-serif;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  max-width: 45%;
  text-align: center;
}
.forest-choiceButton:hover {
  background-color: #44724d;
  border-color: #fbfbfb;
  color: #fbfbfb;
}

/* Cave Theme */
.cave-container {
  background-image: url('./assets/blackglow.gif');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffedc9;
  flex-wrap: nowrap;
  max-width: 100%;
}
.cave-h1 {
  font-family: 'Jersey 15', sans-serif;
  font-size: 4rem;
  font-weight: bold;
}
.cave-p {
  font-family: 'Jersey 15', sans-serif;
  font-size: 1.5rem;
  border: 2px solid #ffedc9;
  border-radius: 1rem;
  padding: 1rem 1.25rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: rgba(23, 21, 19, 0.5);
  max-width: 90%;
}
.cave-choiceButton {
  background-color: rgba(23, 21, 19, 0.5);
  color: #ffedc9;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-family: 'Jersey 15', sans-serif;
  font-size: 1.25rem;
  max-width: 45%;
  min-width: fit-content;
  text-align: center;
  white-space: nowrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.cave-choiceButton:hover {
  background-color: #171513;
  border-color: #ffdc98;
  color: #ffedc9;
}

/* Heavenly Location Theme */
.heavenly-container {
  background-image: url('./assets/heaven.gif');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffedc9;
}
.heavenly-h1 {
  font-family: 'Jersey 15', sans-serif;
  font-size: 4rem;
  font-size: 4rem;
  font-weight: bold;
  color: #171513;
}
.heavenly-p {
  background-color: (23, 21, 19, 0.5);
  color: #ffedc9;
  font-family: 'Jersey 15', sans-serif;
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 1rem 1.25rem;
  margin-left: 2rem;
  margin-right: 2rem;
  max-width: 90%;
}
.heavenly-choiceButton {
  background-color: (23, 21, 19, 0.5);
  color: #484131;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-family: 'Jersey 15', sans-serif;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  max-width: 45%;
  text-align: center;
}
.heavenly-choiceButton:hover {
  border-color: #ffdc98;
  color: #ffedc9;
  border-color: #ffffff;
}

/* Fire Theme */
.fire-container {
  background-image: url('./assets/fire.gif');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f37d15;
}
.fire-h1 {
  font-family: 'Jersey 15', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: #f37d15;
}
.fire-p {
  font-family: 'Jersey 15', sans-serif;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 1rem 1.25rem;
  background-color: rgba(179, 48, 5, 0.5);
  max-width: 90%;
}
.fire-choiceButton {
  background-color: rgba(179, 48, 5, 0.5);
  color: #f37d15;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-family: 'Jersey 15', sans-serif;
  font-size: 1.25rem;
  max-width: 45%;
  min-width: fit-content;
  text-align: center;
  white-space: nowrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.fire-choiceButton:hover {
  border-color: #ff9602;
  color: #f37d15;
}
